!!! 5
%html
  %head
    %title Fudge CI Server
    %link{:rel => 'stylesheet', :href => '/public/css/layout.css', :type => 'text/css'}
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
  %body
    %h1
      %a{:href => '/'} Fudge CI Server
    =yield
