<a class="btn btn-success btn-large" href="/repos/new"><span class="icon-plus icon-white"></span>&nbsp;Add Repository</a>
<h2>Watched Repositories</h2>
<% if @repos.empty? %>
  <p>You have no repositories, you should <a href='/repos/new'>add a repository</a>
<% else %>
  <ul class="nav nav-tabs nav-stacked">
  <% @repos.each do |repo| %>
    <li><a href="/repos/<%= repo.id %>"><%= repo.uri %></a></li>
    <%
      #client = Octokit::Client.new :oauth_token => current_user.token
      #r = client.repo('loz/vim_folder')
      #puts r.to_yaml
      #pull = client.pulls('loz/vim_folder')
      #puts 'PULLS'
      #puts pull.to_yaml
    %>
  <% end %>
  </ul>
<% end %>
