<div class='hero-unit'>
  <h1>Add GitHub Repository</h1>
  <p>Add add repository from GitHub</p>
</div>
<form action='/repos' method='post'>
  <label>Repository URL</label>
  <input type='text' name='repo' class='span3' placeholder='git@github.com:you/your_repo.git'>
  <label>Branch</label>
  <input type='text' name='branch' class='span2' value='master'>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><span class="icon-ok icon-white"></span>&nbsp;Add Repo</button>
    <a href='/' class="btn">Cancel</a>
  </div>
</form>
